body {
  background: linear-gradient(to bottom, rgba(233, 34, 78, 0.6), white 50%, rgba(233, 34, 78, 0.6) );
  font-family: cursive;
  font-size: 30px;
  line-height: 30px
}

h1 {
  color: orange;
  font-weight: bolder;
  text-align: center;
}

h2 {
  color: brown;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: grey;
  font-weight: normal;
}

ul {
  color: purple;
  font-style: italic;
  line-height: 40px;
}

ol {
  color: inherit;
  line-height: 40px;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: green;
  font-weight: bold;
  letter-spacing: 10px;
  text-decoration: underline;
}
